* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    height: 100vh;
    width: 100%;
    /* Habilitar el desplazamiento suave */
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    padding: 10px 5px 10px 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    ;
}

.productos li img {
    width: 100%;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px 25px 40px 50px;
}

.productos li:hover {
    border-color: yellow;
}

.productos li:hover h2 {
    font-size: 35px;
    ;
}

.productos li:active {
    border-color: aqua;
}

.descripcion-producto {
    font-size: 18px;
}

.precio-producto {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(/productos/bg.jpg);
    padding: 40px;
}

footer p {
    color: white;
}

.copyrigth {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.enviar:hover{
    background-color: black;
    transform: scale(1.2);
}

table{
    border-collapse: collapse; /* hace que los bordes colapsen en vez de verse separados*/
    border: 1px solid black;
    margin: 40px 40px;
}
thead{
    background-color: gray;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;
}