* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* Habilitar el desplazamiento suave */
  }
header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    padding: 10px 5px 10px 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;;
}
/* a */
.principal{
    padding: 20px;
}
.principal p{
    margin: 0 0 1em;
    padding: 10px;
}
#banner{
    width: 100%;

}
.titulo-principal{
    padding-left: 30px;
}
.titulo-centralizado{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.items{
    font-style: italic;
}
.diferenciales{
    background-color: #FFFFFF;
    padding: 30px;
}
.clase-diferenciales{
    width: 50%;
}

/* solo ocupa su lugar */
.items-ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.utencilios{
    width: 120px;
    float: left;
}
.mapa{
    padding: 3em 0;
}
.mapa p{
    margin: 0 0 2em;
}